# Cache
__pycache__/
*.pyc
*.py.swp

# Virtual Environments
venv/
.venv/
env/
.env/

# Other Stuff
*.log
*.sh
*.db
*.db-journal
*.sqlite3
*.sqlite3-journal
test.py
] # I'm prone to creating a file with this name

# Private Files
settings.py
